RewriteEngine On

# ErrorDocument 404 /404
# ErrorDocument 403 /404

# files
RewriteCond %{REQUEST_FILENAME} !-f

# directories
# RewriteCond %{REQUEST_FILENAME} !-d

# redirect
RewriteRule ^(.*)$ index.php [QSA,L]
